body{
    font-family: Roboto;
}
html, body { 
    margin: 0; 
    padding: 0; 
} 

 .hero{
    display: block;
    
}


.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 0;
}
.mgnone{
    margin: 0;
    border: 0;
    
    
}

.header_container{
display: flex;
justify-content: space-around;

}

.topright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 27px;    
}
.bgcolor{
    background-color: #1F2937;
}

.imgborder{
    border: solid #3882F6;
}

.head2{
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
    width: 350px;
    
    
}
a{
    color:#F9FAF8
}

.herocontent{
    color: #E577eb;
    width: 400px;
}

.content_cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 200px;
}


.para{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: center;
}

footer{
    height: 60px;
    border: 0;
    margin: 0;
    padding: 36px;
    display: flex;
    justify-content: center;   
    align-content: center;
}

.bttext{
    color: #F9FAF8;
}