body{
    font-family: Roboto;
}
html, body { 
    margin: 0; 
    padding: 0; 
} 

 .hero{
    display: block;
    
}


.headerlogo{
    color: #F9FAF8;
    font-size: 24px;
    margin-top: 0;
}
.mgnone{
    margin: 0;
    border: 0;
    
    
}

.header_container{
display: flex;
justify-content: space-around;

}

.topright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 27px;    
}
.bgcolor{
    background-color: #1F2937;
}

.heroimg > img{
    margin: 50px 50px 50px 50px;
    padding: 150px 200px 150px 200px;
    background-color: black;
    color: #E5e7eb;
}

.imgborder{
    padding: 60px 60px 60px 60px;
    border: 3px solid #3882F6;
    border-radius: 10px 10px 10px 10px;
}

.head2{
    font-size: 48px;
    font-style: extra-bold;
    color: #F9FAF8;
    width: 350px;
    
    
}
a{
    color:#F9FAF8
}

.herocontent{
    color: #E5e7eb;
    width: 400px;
}

.content_cont{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 200px;
    padding-bottom: 20px;
}


.para{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

.imgs{
    
    display: flex;
    flex-direction: column;
    height: 10%;
    min-height: 175px;
   }

.imgs > h1{
    text-align: center;
}

.imgs > div { 
    padding: 5px 200px 0 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

figcaption{
    color: #1F2937;
}

.quote{
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    text-align: left;
    background-color: #E5e7eb;
    padding-top: 75px;
    padding-left: 300px;
    padding-bottom: 75px;
}

button{
    padding: 10px 20px 10px 20px;
    background-color: #3882F6;
    border-radius: 10px 10px 10px 10px;
}

.signupblock{
    background-color: #3882F6;
    display: flex;
    padding: 30px 50px 30px 50px;
    margin: 50px 200px 50px 200px;
    justify-content: space-between;
    border-radius: 15px;
    
}

.signupblock > p{
    padding-left: 50px;
    margin-top: 35px;
    text-align: left;
    color:#E5e7eb
}

.signupblock > p > span{
    font-weight: bold;
}

.signupblock > button{
    border: 1px solid #E5e7eb;
    padding: 10px 40px 10px 40px;
    margin-top: 35px;
    margin-bottom: 35px;
    color: #E5e7eb;

}

footer{
    height: 60px;
    border: 0;
    margin: 0;
    padding: 36px;
    display: flex;
    justify-content: center;   
    align-content: center;
}


.bttext{
    color: #F9FAF8;
}