body{
    font-family: Roboto;
}

.mgnone{
    margin: none;
    
}

.header_container{
display: flex;
justify-content: space-around;

}

.topright{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 27px;    
    color: #F9FAF8;
}
.bgcolor{
    background-color: #1F2937;
}

.imgborder{
    border: solid #3882F6;
}
.herocolor{
    color: #F9FAF8
}
.head2{
    font-size: 48px;
    font-style: extra-bold;
}
a{
    color:#F9FAF8
}